<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager API</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Front-end is Under Development. Till then, You can test this API using Postman.You can find the different
            routes in our About page</p>
    </div>
    {{>footer}}
    <script src="./js/script.js"></script>
</body>

</html>